/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.5s;
    max-width: 500px;
    width: 90%; /* Responsive width */
  }
  
  /* Close Button */
  .close-button {
    float: right;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Question Container */
  .question-container {
    text-align: center;
  }
  
  /* Form and Inputs */
  .question-form input,
  .question-form select,
  .question-form .react-datepicker-wrapper {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Buttons */
  .next-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  
  /* Button Container */
  .button-container {
    text-align: right; /* Aligns the button to the right */
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  